*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    /* background-color: linear-gradient(135deg,rgba(233, 88, 4, 0.623),rgba(0, 0, 0, 0.623),rgba(255, 255, 255, 0.767)); */
    /* background-color: black; */
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(49,240,141,1) 28%, rgba(165,242,236,1) 100%);

}
.container{
    width: 40%;
    background-color: white;
    /* background-color: rgba(18, 236, 181, 0.548); */
    padding: 20px 15px;
    margin-left: 5rem;
    margin-top: 3rem;
    border-radius: 10px;

}
.create{
    /* font-weight: bold; */
    margin-block: 2rem;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(49,240,141,1) 28%, rgba(165,242,236,1) 100%);
    cursor: pointer;
}

.note{
    position: relative;
    min-height: 60px;
    border-radius: 5px;
    background-color: rgba(127, 255, 212, 0.37);
    margin-block: 30px;
}

.note p{
    padding: 5px 10px;
    outline: none;
}

.note button{
    position: absolute;
    top: 10px;
    right: 10px;
}


