.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.text{
    width: 50%;
    border-radius: 10px;
    height: 40px;
}

.date{
    width: 30%;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    
}

.add{
    background-color: green;
    outline: none;
    border: nonea;
}

/* input{
    width: 50%;
    border-radius: 10px;
    height: 40px;
} */