.formContainer{
    background: linear-gradient(120deg,black,rgb(0, 255, 200),black);
    padding: 4rem;
    max-width: 700px;
    margin: 4rem 10rem;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 2rem ;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    color: white;
    margin-bottom: 4px;
}

input{
    height: 40px;
    font-size: 18px;
    padding-inline: 5px;
    margin-bottom: 10px;

    border: none;
    border-radius: 5px;
}

button{
    background: linear-gradient(220deg,rgb(0, 255, 200),black);
    color: white;
    height: 40px;
    width: 200px;
    font-size: 18px;
    border: none;
    border-radius:5px;
    cursor: pointer;
    margin-inline: auto;
    margin-block: 15px;
    
}