
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
}

nav{
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;

  box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.212) ;
}

.logo{
    height: 30px;
}

ul{
  list-style: none;
  display: flex;
  gap: 40px;
  text-transform: capitalize;
}
li:hover{
  cursor: pointer;
  color: #d01c28;
  transition: 0.2sec all ease;
}


button{
    padding: 8px 10px;
    color: white;
    text-transform: capitalize;
    background-color: #d01c28;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero{
  display: flex;
  justify-content: space-between;
  margin: 3rem 12rem;
}

.hero .left h1{
  font-size: 70px;
  text-transform: uppercase;
  margin-block: 1rem;
  line-height: 1.2;
}

.hero .left p{
  font-size: 20px;
  font-weight: 200;
  margin-block: 1rem;
  
}

.hero .left button{
  margin: 5px;
}