*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgba(3, 50, 71, 0.486);
}

.container{
    width: 40%;
    margin: 6rem auto;
    padding: 20px 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 20px black;
}

.container h1{
    color: rgba(0, 0, 0, 0.712);
    font-size: 35px;
    font-weight: 900;
    margin-block: 2rem;
    line-height: 35px;
}

.container h1 span{
    border-bottom: 4px solid rgba(3, 50, 71, 0.486);
    color: rgba(3, 50, 71, 0.486);;
}

.container .password-box{
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(3, 49, 71, 0.088);;
}

.container .password-box input{
    height: 80%;
    width: 70%;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: transparent;
}

.container .password-box .bi-copy{
    cursor: pointer;
}

.container .generate{
    background-color: rgba(3, 50, 71, 0.486);
    display: flex;
    height: 35px;
    width: fit-content;
    padding: 5px 8px;
    color: white;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.container .generate button{
    color: white;
    font-weight: bold;
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    cursor: pointer;
}